@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap');
.logo {
    height: 100px;
    width: 100px;
    object-fit: contain
}
body{
    margin: 0;
}

nav {
    display: flex;
    width: 100%;
    height: 90px;
    font-size: 22px;
    background-color: #6F4001;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    z-index: 1;
    margin: 5px;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 25px;
    z-index: 1;
}

nav a:hover {
    background-color: #D8AE30;
    color: white;
    height: 35px;
}


.hero {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
}

.hero img {
    padding-top: 20px;
    width: 100%;
    height: auto;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: -120px;
    z-index: -1;
}
.hero h1, h2{
    color: white;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 80px;
    text-align: center;
    justify-content: center;
    justify-self: center;
    font-family: "caveat";
}
.hero h1{
    padding-top: 60px;
}
.hero h2{
    padding-top: 250px;
    color: white;
    font-size: 60px;
}




main h1, h2{
    color: black;
    font-size: 32px;
}
main p{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    gap: 100px;
    padding: 20px;
    
}
.our-story{
    font-size: 22px;
    grid-column: 1/5;
    grid-row: 1/3;
    text-align: center;    
    text-align: justify;
    background-color: #fff1c7;
    padding: 15px; 
    margin: 100px; 
    height: 400px;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    
}
.inside {
    padding-top: 90px;
    width: 100%;
    grid-column: 5/9;
    grid-row: 1 /3;
    
}

.culinary-team{
    font-size: 32px;
    grid-column: 6/9;
    grid-row: 3/5;
    text-align: center;
    text-align: justify;
    background-color: #fff1c7;
    padding: 15px;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.chef {
height: 450px;
width: auto;
object-fit: fill;
grid-column: 1/5;
grid-row: 2/6;
padding-top: 300px;

}

.culinary-experience{
    font-size: 32px;
    grid-column: 3/7;
    grid-row: 6/8;
    z-index: 1;
    color: white;
    text-align: center;
}
.culinary-experience h2{
    color: white;
    padding-top: 50px;
}

.background-image{
    padding-top: 50px;
    height: 100%;
    width: 100%;
    background-color: #6F4001;
    grid-column: 2/8;
    grid-row: 6/8;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10em;
}

button {
    background-color: #D8AE30;
    color: white;
    padding: 20px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    

}

button:hover {
    background-color: #6F4001;
}



footer {
    background-color: grey;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
}

footer a {
    text-decoration: none;
    color: beige;
}

footer a:hover {
    color: white;
}

footer p a:hover {
    text-decoration: underline;
}    


footer .social-icons {
    display: flex;
    padding: 15px;
}
footer .social-icons a {
    margin-right: 70px;
}
footer .social-icons img {
    width: 120%;
    margin: 0 auto;
}






/* Attractions page */ 

.hero2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
}

.hero2 img {
    padding-top: 20px;
    padding-bottom: 100px;
    width: 100%;
    height: auto;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: -120px;
    z-index: -1;
}
.hero2 h1, .hero2 h2, .hero2 p {
    color: white;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 60px;
    text-align: center;
    justify-content: center;
    justify-self: center;
    font-family: "caveat";
}

.hero2 h1 {
    padding-top: 130px;
}

.hero2 h2 {
    padding-top: 220px;
    color: white;
    font-size: 50px;
}

.hero2 p {
    max-width: 550px;
    padding-top: 380px;
    font-size: 35px;
}



.attractions-grid h1, h2{
    color: black;
    font-size: 32px;
}
.attractions-grid p{
    text-align: justify;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.attractions-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
}

.attraction-text{
    grid-column: 4/6;
    grid-row: 1/2;
    z-index: 1;
    background-color: #fff1c7;
    padding: 15px;
    width: 110%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.music-left{
    grid-column: 1/4;
    grid-row: 1/3;
    width: 130%;
    margin-top: 150px;
    margin-left: 30px;border: 3px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.music-left:hover {
    opacity: .9;
    transform: scale(1.1);
}  
    

.music-right{
    margin-top: -30px;
    margin-left: -30px;
    grid-column: 6/9;
    grid-row: 1/3;
    width: 100%;
    border: 3px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.music-right:hover {
    opacity: .9;
    transform: scale(1.1);
}  

.wine{
    grid-column: 1/4;
    grid-row: 4/9;
    width: 100%;
    margin-top: 150px;
    margin-left: 30px;
    
    border: 3px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.wine:hover {
    opacity: .9;
    transform: scale(1.1);
}    
    
   
    
.attraction-text2{
    grid-column: 3/5;
    grid-row: 6/9;
    z-index: 1;
    background-color: #fff1c7;
    padding: 15px;
    z-index: 1;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.attraction-text3{
    grid-column: 7/9;
    grid-row: 6/7;
    background-color: #fff1c7;
    padding: 15px;
    text-align: center;
    margin-bottom: -60px;
    margin-right: 50px;
    margin-left: -90px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.attraction-text4{
    grid-column: 7/9;
    grid-row: 9/10;
    margin-top: -190px;
    text-align: center;
    margin-right: 60px;
    margin-left: -80px;
    
}
.background-main{
    width: 100%;
    grid-column: 1/9;
    grid-row: 1/7;
    background-color: lightgray;
    z-index: -1;
    margin-top: 15px;
}




/* About us page */

#aboutus.hero3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
#aboutus.hero3 img {
    padding-top: 20px;
    width: 100%;
    height: auto;
    grid-row: 1/2;
    grid-column: 1/3;
    margin-top: -120px;
    z-index: -1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
#aboutus.hero3 h1, #aboutus.hero3 h2 {
    color: white;
    grid-row: 1/2;
    grid-column: 1/3;
    font-size: 60px;
    text-align: center;
    justify-content: center;
    justify-self: center;
    font-family: "caveat";
    margin-top: 90px;
}
#aboutus.hero3 h2{
    grid-row: 1;
    margin-top: 170px;
}
#aboutus.hero3 p:nth-of-type(1){
    color: white;
    grid-row: 1/3;
    grid-column: 1/2;
    font-size: 20px;
    text-align: justify;
    justify-content: left;
    justify-self: left;
    font-family: "roboto";
    margin-top: 270px;
    z-index: 1;
    padding-right: 200px;
    padding-left: 50px;
    padding-top: 25px;
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
#aboutus.hero3 p:nth-of-type(2){
    color: white;
    grid-row: 1/3;
    grid-column: 1/2;
    font-size: 20px;
    text-align: justify ;
    justify-content: left;
    justify-self: left;
    font-family: "roboto";
    margin-top: 500px;
    z-index: 1;
    padding-right: 200px;
    padding-left: 50px;
    padding-top: 25px;
    margin-left: 15px;
}




.aboutus-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: center; /* Centraliza verticalmente os itens na grade */
}
.main2{
    width: 100%;
    height: auto;
    grid-row: 1/5;
    grid-column: 1/5;
    z-index: -1;
    justify-content: center;
    margin-top: 100px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.section0{
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #e9c558;
    margin-top: 50px;
    border-radius: 15em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.section0 :nth-of-type(1){
    font-size: 40px; 
}

.section1{
    grid-row: 2/3;
    grid-column: 2/3;
    border: 2px solid #0a0a0a;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding: 15px;
    margin-top: 35px;
    text-align: justify;
    background-color: rgba(253, 251, 251, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.section2{
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: rgba(253, 252, 252, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    padding: 15px;
    text-align: justify;
    border: 2px solid #0a0a0a;
}